.App {
  margin: 0% 5% 0% 5%;
  text-align: center;
}

.TwirlyPig {
  transition: all 3s ease-in-out;
}

.TwirlyPig:hover {
  transform: scale(1.5);
}

.headerText {
  color: pink;
  font-size: 2em;
}

.smallHeader {
  font-size: 1.5em;
}

.normalText {
  font-family: Georgia, serif;
}

.indexWrapper {
  margin: 1%;
}

.pigTile {
  display: inline;
  max-width: 200px;
  float: left;
  margin: 3%
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
  transition: all .2s ease-in-out;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
