.App {
  margin: 0% 5% 0% 5%;
  text-align: center;
}

.TwirlyPig {
  transition: all 3s ease-in-out;
}

.TwirlyPig:hover {
  transform: scale(1.5);
}

.headerText {
  color: #F5A9BC;
  font-size: 2em;
}

.smallHeader {
  font-size: 1.75em;
  font-weight: bold;
  color: #3B0B0B;
}

.normalText {
  font-family: Georgia, serif;
  font-size: .75em;
}

ul .normalText {
  font-family: Georgia, serif;
  font-size: .75em;
  text-align: left;
}


.indexWrapper {
  margin: auto;
}

.pigTile {
  display: inline;
  width: 35%;
  float: left;
  margin: 2%;
  padding: 1%;
  outline: #3B0B0B dotted thick;
  transition: 1s;
}

.pigTile:hover {
  transform: scale(1.1);
}


.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
  transition: all .2s ease-in-out;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
